---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {% for photo in page.mf-photo %}
    <div class="mf-photo"></div>
      <img src="{{ photo }}" />
    </div>
    {% endfor %}

    {{ page.content }}

    {% if page.mf-syndication %}
    <div class="source-links">
      {% for link in page.mf-syndication %}
        {% if link contains "instagram.com" %}
        <p>Originally posted <a href="{{ link }}">to my Instagram account</a>.</p>
        {% else %}
        <p>Source: <a href="{{ link }}">{{ link }}</a></p>
        {% endif %}
      {% endfor %}
    </div>
    {% endif %}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>