{{- with .Params.comments }}
<div class="border-t border-slate-200 dark:border-slate-700 px-6 pt-12 pb-20 w-full mx-auto h-fit">
  <h2 class="text-xl font-bold mb-4">💬 Comments</h2>

  <p class="my-4">To comment on this article, you can use your fediverse account and reply to <a class="underline" href="https://{{ .host }}/@{{ .username }}/{{ .id }}" target="_blank" rel="noopener noreferrer">this Mastodon post</a>.</p>

  <div class="my-4" id="mastodon-comments-list">
    <button id="load-comments" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" data-host="{{ .host }}" data-id="{{ .id }}">Show comments</button>
    <p class="my-2"><small>This will load replies from {{ .host }} to display them here.</small></p>
  </div>
  <noscript><p>You need JavaScript enabled to view the comments.</p></noscript>
</div>
{{- end }}
